{% load static %}

<head>
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'admin_panel/css/bootstrap.css'%}" />
</head>
<body>
  
<div class="container">
{% block content %}
<br>
<br>
<br>
<h3>Password recovery</h3>
<br>
<br>
  <h4 style="color: royalblue;">
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </h4>
  <h4 style="color: royalblue;">
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </h4>
{% endblock %}
</div>
</body>