{% load static %}
{% load crispy_forms_tags %}
<head>
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'admin_panel/css/bootstrap.css'%}" />
</head>
<body>
  
<div class="container">
{% block content %}
  {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}
</div>
</body>