{% extends 'landing/account_nav.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'admin_panel/css/bootstrap.css'%}" />
    <title>Document</title>
</head>
<body>
    {% block content %}
    <div class="container">
        <br>
        <br>
    <h4 style="margin-top: 70px;">Your account number:<strong>{{user.details.account_number}}</strong></h4>
    
    
    {% if messages %}
        {% for message in messages %}
        
        <div class="alert {{message.tags}}" role="alert">
         {{message}}
        </div>
        
        {% endfor %}
    {% endif %}
    <form action="" method="POST" style="">
        {% csrf_token %}
        <label for="">Subject</label>
        <input type="text" name="subject" class="form-control">
        <label for="">Feedback</label>
        <input type="text" name="feedback" class="form-control">
        <br>
        <button class="btn btn-primary">Submit</button>
    </form>
    
</div>
    {% endblock %}
</body>
</html>