{% load static %} {% load crispy_forms_tags%}
<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="{% static 'landing/css/login.css' %}" />
  <link rel="stylesheet" href="{% static 'admin_panel/css/bootstrap.css'%}" />
  <title>User Login</title>
</head>
<body>
  <div class="container">
    <br>
    <a href="{% url 'landing_page' %}" class="btn btn-success"><- Go Back</a>
    <div class="login-form">
      <div class="col-md-6 mx-auto text-center">
        <div class="header-title">
          <h1 class="wv-heading--title">
            Sign In
          </h1>
          <h2 class="wv-heading--subtitle">
            Welcome User
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mx-auto">
        <div class="myform form">
          <form action="" method="post" name="login">
            {% block content %} {% csrf_token %}
            {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
         {{message}}
        </div>
        {% endfor %}
    {% endif %}
           <!---- <div class="form-group">
              <!--<input type="text" name="user"  class="form-control my-input"  placeholder="Username" autocomplete="">
              
            </div>-->
            <div class="form-group">
              <!--<input
                type="password"
                min="0"
                name="password"
                id="phone"
                class="form-control my-input"
                placeholder="Enter password"
                autocomplete=""
              />-->
              {{user_login_form.email|as_crispy_field}}
            </div>
            <div class="form-group">
              <!--<input type="text" name="user"  class="form-control my-input"  placeholder="Username" autocomplete="">-->
              {{user_login_form.password|as_crispy_field}}
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-success">Sign In</button>
            </div>
          </form>
          <a href="{% url 'password_reset' %}" style="text-decoration: none;">Forgot Password?</a>
        </div>
      </div>
    </div>
  </div>

  {% if form.non_field_errors %}
    <ul class='form-errors'>
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}
  {% endblock%}
</body>
